:root {
    --green: #5ed68a;
    --red: #5fcace;
    --background: #fafafa;
    --gradient-1: #2e6351;
    --gradient-2: #2a3352;
  }
  
  html {
    font-size: 12px;
    font-weight: 300;
  }
  
  body {
    width: 90vw;
    margin: 0 auto;
    background: radial-gradient(var(--gradient1), var(--gradient2));
    padding: 10.5rem;
  }
  
  main {
    text-align: center;
    background: var(--background);
    border: solid var(--red);
    border-width: 8px 8px 8px 8px;
    min-height: 40vh;
    border-radius: 3rem 3rem 3rem 3rem;
    padding: 4rem;
    color: #3c4c5a;
  }
  
  h2 {
    font-size: 3.4rem;
    margin: 1rem 1rem 1rem 1rem;
  }
  
  p {
    font-size: 2rem;
  }

  .button-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  button {
    border: none;
    cursor: pointer;
    background: var(--green);
    padding: 2rem 5.5rem;
    font-size: 1.4rem;
  }
  
  button:last-child {
    background: var(--red);
  
  }

  /* game screen */
  
  h3 {
    font-size: 2.2rem;
  }
  
  input {
    border: 2px solid rgb(218, 211, 211);
    background: transparent;
    margin: 2rem 0;
    padding: 1rem 0;
    width: 25rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 5px;
  }

  .stats {
    text-align: left;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .info span {
    font-size: 1.6rem;
  }

  #newGameButton {
    border-radius: 6px;
  }
  
  @media (min-width: 800px) {
    body {
      width: 60vw;
      padding: 10rem;
    }
  
    h2 {
      font-size: 3rem;
    }
  
    p {
      font-size: 2rem;
    }
  }
  
  /* Telas menores (celular) */
  @media (max-width: 420px) {
    body {
      width: 95vw;
      padding: 2rem 1rem;
    }
  
    main {
      padding: 1.5rem;
    }
  
    button {
      padding: 1rem;
    }
  }  